Package: plexconnect
Name: MyProgram
Version: 3.1
Depends: wget, apt7, mobilesubstrate, python (=2.7.3-3)
Architecture: iphoneos-arm
Description: plexconnect on jailbroken ios
Homepage: https://github.com/wahlmanj/plexconnect-app
Depiction: https://github.com/wahlmanj/plexconnect-app
Maintainer: wahlman.j <https://github.com/wahlmanj/plexconnect-app>
Author: wahlman.j <https://github.com/wahlmanj/plexconnect-app>
Sponsor: wahlman.j <https://github.com/wahlmanj/plexconnect-app>
